<script setup lang="ts">
import fancyButton from "@/components/fancyButton.vue";
import { mdiCursorDefaultClickOutline, mdiHeartOutline } from "@mdi/js";
</script>

<template>
  <v-container>
    <v-row>
      <v-col
        ><fancyButton
          ><v-icon :icon="mdiHeartOutline"></v-icon> Love Me
          <template v-slot:tail> Tail </template>
        </fancyButton></v-col
      >
      <v-col
        ><fancyButton>
          <template #tail
            ><v-icon :icon="mdiCursorDefaultClickOutline"></v-icon>
          </template>
          Click Me
        </fancyButton></v-col
      >
    </v-row>
  </v-container>
</template>
