<script setup lang="ts">
import MyPortfolio from "@/components/MyPortfolio.vue";
import {
  mdiBookEducationOutline,
  mdiAccount,
  mdiStarOutline,
  mdiCakeVariantOutline,
  mdiStarFourPointsOutline,
} from "@mdi/js";
</script>

<template>
  <v-container>
    <v-row>
      <v-col>
        <MyPortfolio></MyPortfolio>
      </v-col>
    </v-row>
    <br />
    <br />
    <br />

    <v-row justify="center">
      <v-col cols="7">
        <h1 style="text-align: center">
          <v-icon :icon="mdiStarFourPointsOutline"></v-icon> ABOUT ME
          <v-icon :icon="mdiStarFourPointsOutline"></v-icon>
        </h1>
        <br />
        <br />
        <v-table>
          <tbody>
            <tr>
              <th><v-icon :icon="mdiAccount"></v-icon> Name:</th>
              <td>Venita Thaithae</td>
            </tr>

            <tr>
              <th>
                <v-icon :icon="mdiCakeVariantOutline"></v-icon> My Birthday:
              </th>
              <td>17 May 2002</td>
            </tr>

            <tr>
              <th Style="vertical-align:center">
                <v-icon :icon="mdiBookEducationOutline"></v-icon> Education:
              </th>
              <td>
                Faculty of Computer Science, Burapha University, Chonbury
                Thailand <br />
                July 2021 - present <br />
                <br />
                Boonwattana School, Nakhon Ratchasima, Thailand <br />
                May 2019 - May 2021
              </td>
            </tr>

            <tr>
              <th>
                <v-icon :icon="mdiStarOutline"></v-icon> I'm interested in:
              </th>
              <td>
                Quality Assurance
                <br />
                cosmos <br />
                Cyber Security
              </td>
              <br />
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>
