<script setup lang="ts"></script>

<template>
  <v-card class="mx-auto" height="450" max-width="1500" rounded="10">
    <v-img
      height="100%"
      cover
      src="https://cdn.discordapp.com/attachments/921450801589788696/1054600872463712266/IMG_2910.jpg"
    >
      <v-avatar color="grey" size="170" rounded="0">
        <v-img
          cover
          src="https://cdn.discordapp.com/attachments/921450801589788696/1054595184211537950/image0.png"
        ></v-img>
      </v-avatar>
      <v-list-item
        class="text-white"
        title="Venita Thaithae"
        subtitle="Com-Sci Student"
      ></v-list-item>
    </v-img>
  </v-card>
</template>
